/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

*/
