.canvas {
  width: 100%;
}

.wide_input {
  width: 90%;
}

body {
  font-size: 6pt;
  font-family: Arial;
}

td {
  vertical-align: top;
}

.canvas_section {
  border: thin black solid;
  padding: 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 10px;
}

h3 {
  text-transform: uppercase;
  font-size: 6pt;
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.sublist {
  font-style: italic;
}
